[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
	; Pinned to tag 'release-3.4.0'

[submodule "vendor/glew-cmake"]
	path = vendor/glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git
	; Pinned to tag 'glew-cmake-2.3.1'
