[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
	; Pinned to tag 'release-3.4.0'

[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
	; Pinned to tag '1.0.3'
[submodule "vendor/sdl3webgpu"]
	path = vendor/sdl3webgpu
	url = https://github.com/eliemichel/sdl3webgpu.git
	; Pinned to tag 'v1.0.0'
[submodule "vendor/dawn"]
	path = vendor/dawn
	url = https://dawn.googlesource.com/dawn
	; Pinned to tag 'v20260214.164635'
