[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
	; Pinned to tag 'release-3.4.0'

[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
	; Pinned to tag '1.0.3'

[submodule "vendor/webgpu"]
	path = vendor/webgpu
	url = https://github.com/eliemichel/WebGPU-distribution.git
	; Pinned to tag 'main-v0.2.0'

[submodule "vendor/sdl3webgpu"]
	path = vendor/sdl3webgpu
	url = https://github.com/eliemichel/sdl3webgpu.git
	; Pinned to tag 'v1.0.0'
